@import url('https://googleapis.com');
@import "tailwindcss";

.sub-head {
    font-family: "Montserrat", sans-serif;
}

.sub-head1 {
    font-family: "Lora", serif;
}

.head {
    font-family: "Playfair Display", serif;
}

.head2 {
    font-family: "Fraunces", serif;
}

.sub-font {
    font-family: "Poppins", sans-serif;
}

@keyframes gradientShift {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}